.m-categroy {
  display: flex;
  margin-bottom: 30px;

  dt {
    font-size: 16px;
    color: #333;
    font-weight: 500;
  }

  dd {
    position: relative;
    font-size: 15px;
    margin: 0 6px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    line-height: 24px;

    a{
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    &:hover {
      >a{
        color: #31BBAC;
      }
      background: #F8F8F8;
    }
  }
}
a {
  color: #777;
  text-decoration: none;
}
.m-categroy-section {
  display: flex;
  padding: 13px 30px 13px 10px;
  border-radius: 10px;

  &:hover {
    background: #F8F8F8;
  }

  dt {
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background: #13D1BE;
    box-shadow: 0 4px 5px 0 rgba(39, 178, 164, .22);
  }

  dd {
    flex: 1;

    span {
      margin: 10px 20px;
      color: #666;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        color:#13D1BE;
      }
      &:target {
        color: aquamarine;
      }
    }
  }
}